@using SetPosh.Controllers;

@model Tuple<List<ProductModel>, List<ProductCategoryModel>>
@{
    Layout = "_Layout";
    ViewData["Title"] = "فروشگاه آنلاین";

    List<ProductModel> Products = Model.Item1;
    List<ProductCategoryModel> ProductCategories = Model.Item2;
}

@*<section class="banner">
    <div class="slider">
    <div class="slides">
    <img src="~/Image/download.jpeg" alt="Slide 1" class="slide" draggable="false">
    <img src="~/Image/download.jpeg" alt="Slide 2" class="slide" draggable="false">
    <img src="~/Image/download.jpeg" alt="Slide 3" class="slide" draggable="false">
    </div>
    <div class="nav_dots">
    <span class="dot" onclick="goToSlide(0)"></span>
    <span class="dot" onclick="goToSlide(1)"></span>
    <span class="dot" onclick="goToSlide(2)"></span>
    </div>
    <button class="next" onclick="changeSlide(-1)">&#10094;</button>
    <button class="prev" onclick="changeSlide(1)">&#10095;</button>
    </div>
    </section>*@

<section class="categories">
    <h2>دسته‌بندی‌ها</h2>
    <div class="category_list">
        @*<div class="category">کالای دیجیتال</div>
        <div class="category">مد و پوشاک</div>
        <div class="category">زیبایی و سلامت</div>
        <div class="category">خانه و آشپزخانه</div>
        <div class="category">ورزش و سفر</div>*@
        @foreach (ProductCategoryModel category in ProductCategories)
        {
            <a asp-controller="Product" asp-action="@(nameof(ProductController.ProductList))" asp-route-PCSID="@category.SID" class="category">@category.PCName</a>
        }
    </div>

</section>

<div class="products">
    @await Html.PartialAsync(Settings.PartialPathProductList, Products)
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/Index.css">
}
@section Scripts {
    <script src="~/js/Index.js"></script>
}
